<section class="gallery" data-component="gallery">
    <h2 class="gallery__title">Lorem ipsum</h2>
    <ul class="gallery__items">
        <li class="gallery__item">
            <a class="gallery__button" href="#">
                <img class="gallery__thumb" src="http://placehold.it/215x215" alt="">
            </a>
            <div class="gallery__content">
                <h3>Stuart Fiertz, CFA</h3>
                <p>Stuart Fiertz is the co-founder, President and Director of Research of Cheyne Capital Management (UK) LLP. From 1991 to June 2000, and prior to establishing Cheyne Capital, Stuart worked for Morgan Stanley where he was responsible for the development and implementation of customised portfolio strategies and for credit research in the convertible bond management practice, latterly as an Executive Director.</p>
                <p>Prior to joining Morgan Stanley, Stuart was an equity research analyst for the Value Line Investment Survey from 1984 – 1986, and a high yield credit analyst in Boston at Merrill Lynch from 1986 – 1988 and in New York at Lehman Brothers from 1988 – 1990. During this time, Stuart was responsible for the analysis of companies in a wide range of industries.</p>
                <a href="#">Action</a>
            </div>
        </li>
        <li class="gallery__item">
            <a class="gallery__button" href="#">
                <img class="gallery__thumb" src="http://placehold.it/215x215" alt="">
            </a>
            <div class="gallery__content">
                <h3>Derek Lucas, CFA</h3>
                <p>Stuart Fiertz is the co-founder, President and Director of Research of Cheyne Capital Management (UK) LLP. From 1991 to June 2000, and prior to establishing Cheyne Capital, Stuart worked for Morgan Stanley where he was responsible for the development and implementation of customised portfolio strategies and for credit research in the convertible bond management practice, latterly as an Executive Director.</p>
                <p>Prior to joining Morgan Stanley, Stuart was an equity research analyst for the Value Line Investment Survey from 1984 – 1986, and a high yield credit analyst in Boston at Merrill Lynch from 1986 – 1988 and in New York at Lehman Brothers from 1988 – 1990. During this time, Stuart was responsible for the analysis of companies in a wide range of industries.</p>
            </div>
        </li>
        <li class="gallery__item">
            <a class="gallery__button" href="#">
                <img class="gallery__thumb" src="http://placehold.it/215x215" alt="">
            </a>
            <div class="gallery__content">
                <h3>Jim Rowe, CFA</h3>
                <p>Stuart Fiertz is the co-founder, President and Director of Research of Cheyne Capital Management (UK) LLP. From 1991 to June 2000, and prior to establishing Cheyne Capital, Stuart worked for Morgan Stanley where he was responsible for the development and implementation of customised portfolio strategies and for credit research in the convertible bond management practice, latterly as an Executive Director.</p>
                <p>Prior to joining Morgan Stanley, Stuart was an equity research analyst for the Value Line Investment Survey from 1984 – 1986, and a high yield credit analyst in Boston at Merrill Lynch from 1986 – 1988 and in New York at Lehman Brothers from 1988 – 1990. During this time, Stuart was responsible for the analysis of companies in a wide range of industries.</p>
            </div>
        </li>
        <li class="gallery__item">
            <a class="gallery__button" href="#">
                <img class="gallery__thumb" src="http://placehold.it/215x215" alt="">
            </a>
            <div class="gallery__content">
                <h3>Brian Kay, CFA</h3>
                <p>Stuart Fiertz is the co-founder, President and Director of Research of Cheyne Capital Management (UK) LLP. From 1991 to June 2000, and prior to establishing Cheyne Capital, Stuart worked for Morgan Stanley where he was responsible for the development and implementation of customised portfolio strategies and for credit research in the convertible bond management practice, latterly as an Executive Director.</p>
                <p>Prior to joining Morgan Stanley, Stuart was an equity research analyst for the Value Line Investment Survey from 1984 – 1986, and a high yield credit analyst in Boston at Merrill Lynch from 1986 – 1988 and in New York at Lehman Brothers from 1988 – 1990. During this time, Stuart was responsible for the analysis of companies in a wide range of industries.</p>
            </div>
        </li>
        <li class="gallery__item">
            <a class="gallery__button" href="#">
                <img class="gallery__thumb" src="http://placehold.it/215x215" alt="">
            </a>
            <div class="gallery__content">
                <h3>Angela Smith, CFA</h3>
                <p>Stuart Fiertz is the co-founder, President and Director of Research of Cheyne Capital Management (UK) LLP. From 1991 to June 2000, and prior to establishing Cheyne Capital, Stuart worked for Morgan Stanley where he was responsible for the development and implementation of customised portfolio strategies and for credit research in the convertible bond management practice, latterly as an Executive Director.</p>
                <p>Prior to joining Morgan Stanley, Stuart was an equity research analyst for the Value Line Investment Survey from 1984 – 1986, and a high yield credit analyst in Boston at Merrill Lynch from 1986 – 1988 and in New York at Lehman Brothers from 1988 – 1990. During this time, Stuart was responsible for the analysis of companies in a wide range of industries.</p>
            </div>
        </li>
        <li class="gallery__item">
            <a class="gallery__button" href="#">
                <img class="gallery__thumb" src="http://placehold.it/215x215" alt="">
            </a>
            <div class="gallery__content">
                <h3>Paul Morris, CFA</h3>
                <p>Stuart Fiertz is the co-founder, President and Director of Research of Cheyne Capital Management (UK) LLP. From 1991 to June 2000, and prior to establishing Cheyne Capital, Stuart worked for Morgan Stanley where he was responsible for the development and implementation of customised portfolio strategies and for credit research in the convertible bond management practice, latterly as an Executive Director.</p>
                <p>Prior to joining Morgan Stanley, Stuart was an equity research analyst for the Value Line Investment Survey from 1984 – 1986, and a high yield credit analyst in Boston at Merrill Lynch from 1986 – 1988 and in New York at Lehman Brothers from 1988 – 1990. During this time, Stuart was responsible for the analysis of companies in a wide range of industries.</p>
            </div>
        </li>
        <li class="gallery__item">
            <a class="gallery__button" href="#">
                <img class="gallery__thumb" src="http://placehold.it/215x215" alt="">
            </a>
            <div class="gallery__content">
                <h3>Anthony Beaver, CFA</h3>
                <p>Stuart Fiertz is the co-founder, President and Director of Research of Cheyne Capital Management (UK) LLP. From 1991 to June 2000, and prior to establishing Cheyne Capital, Stuart worked for Morgan Stanley where he was responsible for the development and implementation of customised portfolio strategies and for credit research in the convertible bond management practice, latterly as an Executive Director.</p>
                <p>Prior to joining Morgan Stanley, Stuart was an equity research analyst for the Value Line Investment Survey from 1984 – 1986, and a high yield credit analyst in Boston at Merrill Lynch from 1986 – 1988 and in New York at Lehman Brothers from 1988 – 1990. During this time, Stuart was responsible for the analysis of companies in a wide range of industries.</p>
            </div>
        </li>
        <li class="gallery__item">
            <a class="gallery__button" href="#">
                <img class="gallery__thumb" src="http://placehold.it/215x215" alt="">
            </a>
            <div class="gallery__content">
                <h3>Charlie Wright, CFA</h3>
                <p>Stuart Fiertz is the co-founder, President and Director of Research of Cheyne Capital Management (UK) LLP. From 1991 to June 2000, and prior to establishing Cheyne Capital, Stuart worked for Morgan Stanley where he was responsible for the development and implementation of customised portfolio strategies and for credit research in the convertible bond management practice, latterly as an Executive Director.</p>
                <p>Prior to joining Morgan Stanley, Stuart was an equity research analyst for the Value Line Investment Survey from 1984 – 1986, and a high yield credit analyst in Boston at Merrill Lynch from 1986 – 1988 and in New York at Lehman Brothers from 1988 – 1990. During this time, Stuart was responsible for the analysis of companies in a wide range of industries.</p>
            </div>
        </li>
        <li class="gallery__item">
            <a class="gallery__button" href="#">
                <img class="gallery__thumb" src="http://placehold.it/215x215" alt="">
            </a>
            <div class="gallery__content">
                <h3>Steven Green, CFA</h3>
                <p>Stuart Fiertz is the co-founder, President and Director of Research of Cheyne Capital Management (UK) LLP. From 1991 to June 2000, and prior to establishing Cheyne Capital, Stuart worked for Morgan Stanley where he was responsible for the development and implementation of customised portfolio strategies and for credit research in the convertible bond management practice, latterly as an Executive Director.</p>
                <p>Prior to joining Morgan Stanley, Stuart was an equity research analyst for the Value Line Investment Survey from 1984 – 1986, and a high yield credit analyst in Boston at Merrill Lynch from 1986 – 1988 and in New York at Lehman Brothers from 1988 – 1990. During this time, Stuart was responsible for the analysis of companies in a wide range of industries.</p>
            </div>
        </li>
        <li class="gallery__item">
            <a class="gallery__button" href="#">
                <img class="gallery__thumb" src="http://placehold.it/215x215" alt="">
            </a>
            <div class="gallery__content">
                <h3>Frank Bushey, CFA</h3>
                <p>Stuart Fiertz is the co-founder, President and Director of Research of Cheyne Capital Management (UK) LLP. From 1991 to June 2000, and prior to establishing Cheyne Capital, Stuart worked for Morgan Stanley where he was responsible for the development and implementation of customised portfolio strategies and for credit research in the convertible bond management practice, latterly as an Executive Director.</p>
                <p>Prior to joining Morgan Stanley, Stuart was an equity research analyst for the Value Line Investment Survey from 1984 – 1986, and a high yield credit analyst in Boston at Merrill Lynch from 1986 – 1988 and in New York at Lehman Brothers from 1988 – 1990. During this time, Stuart was responsible for the analysis of companies in a wide range of industries.</p>
            </div>
        </li>
        <li class="gallery__item">
            <a class="gallery__button" href="#">
                <img class="gallery__thumb" src="http://placehold.it/215x215" alt="">
            </a>
            <div class="gallery__content">
                <h3>Patrick Head, CFA</h3>
                <p>Stuart Fiertz is the co-founder, President and Director of Research of Cheyne Capital Management (UK) LLP. From 1991 to June 2000, and prior to establishing Cheyne Capital, Stuart worked for Morgan Stanley where he was responsible for the development and implementation of customised portfolio strategies and for credit research in the convertible bond management practice, latterly as an Executive Director.</p>
                <p>Prior to joining Morgan Stanley, Stuart was an equity research analyst for the Value Line Investment Survey from 1984 – 1986, and a high yield credit analyst in Boston at Merrill Lynch from 1986 – 1988 and in New York at Lehman Brothers from 1988 – 1990. During this time, Stuart was responsible for the analysis of companies in a wide range of industries.</p>
            </div>
        </li>
        <li class="gallery__display">
            <div class="gallery__display-container rte"></div>
            <button class="gallery__close">{{> icon-x}}</button>
            <div class="gallery__nav">
                <button class="gallery__control gallery__control--prev button--primary" data-direction="prev">{{> icon-arrow--large}}</button>
                <button class="gallery__control gallery__control--next button--primary" data-direction="next">{{> icon-arrow--large}}</button>
            </div>
        </li>
    </ul>
</section>