<section class="map" data-component="googleMap">
    <script type="text/data">
        {
            "center": {
                "lat": 51.5115543,
                "lng": -0.0816882
            },
            "zoom": 15,
            "markerTitle": "CFA Society of the UK"
        }
    </script>
    <div class="map__container"></div>
</section>