<div class="video-placeholder" data-component="videoPlaceholder" data-video-type="youtube" data-url="9hqnap5m8oQ" style="background-image: url(http://placehold.it/492x315);">
    {{> icon-play}}
    <img class="video-placeholder__image" alt="" src="http://placehold.it/492x315">
</div>
