.search-global {
    position: relative;
    @include bp(breaknav) {
        transition: width $default-transition;
        border-left: $default-border;
        float: right;
        margin-left: 15px;
        width: 89px;
        height: 90px;
        .search-active & {
            width: 100%;
        }
    }
}

.search-global__toggle {
    display: none;
    &:focus {
        outline: 0;
        .icon-search__shape {
            stroke: $color-blue--active;
        }
        .icon-x__shape {
            fill: $color-blue--active;
        }
    }
    .no-touch & {
        &:hover {
            .icon-search__shape {
                stroke: $color-blue--active;
            }
            .icon-x__shape {
                fill: $color-blue--active;
            }
        }
    }
    @include bp(breaknav) {
        background: $color-white;
        border: 0;
        border-bottom: $default-border;
        display: block;
        padding: 30px $horizontal-spacer--full;
        position: absolute;
        right: 0;
        z-index: 10;
    }
}

.search-global .icon-x {
    @include bp(breaknav) {
        display: none;
        width: 24px;
        height: 28px;
    }
}

.search-global .icon-search {
    @include bp(breaknav) {
        width: 28px;
        height: 28px;
    }
}

.search-global .icon-search__shape {
    transition: all $default-transition;
}

.search-global .icon-x__shape {
    transition: all $default-transition;
    @include bp(breaknav) {
        stroke-width: 1.5;
    }
}

.search-global__input {
    border: 0;
    border-bottom: $default-border;
    border-top: $default-border;
    border-radius: 0;
    color: $color-text--primary;
    font-family: $font-breuer--regular;
    font-size: 16px;
    padding: 20px 50px 20px $horizontal-spacer--wide;
    transition: background-color $default-transition;
    width: 100%;
    &:focus {
        background-color: $color-grey--light;
        outline: 0;
    }
    &.has-error {
        background-color: $color-error;
    }
    @include bp(breaknav) {
        border: 0;
        display: none;
        font-family: $font-breuer--medium;
        height: 100%;
        padding-right: 90px;
    }
}

.search-global__input::-webkit-input-placeholder {
    color: $color-text--primary;
    font-family: $font-breuer--regular;
    font-size: 16px;
}

.search-global__input:-moz-placeholder {
    color: $color-text--primary;
    font-family: $font-breuer--regular;
    font-size: 16px;  
}

.search-global__input::-moz-placeholder {
    color: $color-text--primary;
    font-family: $font-breuer--regular;
    font-size: 16px;  
}

.search-global__input:-ms-input-placeholder {  
    color: $color-text--primary;
    font-family: $font-breuer--regular;
    font-size: 16px;  
}

.search-global__submit {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: $horizontal-spacer--wide;
    border: 0;
    background: none;
    &:focus {
        outline: 0;
        .icon-search__shape {
            stroke: $color-blue--active;
        }
    }
    @include bp(breaknav) {
        display: none;
    }
}