.overlay {
    background-color: rgba(0, 0, 0, .6);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    @include bp(medium) {
        display: none !important
    }
}