.nav-global {
    background-color: $color-white;
    display: none;
    left: 100%;
    min-height: 100%;
    position: absolute;
    top: 100%;
    transition: width $default-transition;
    width: 100%;
    z-index: 90;
    .nav-active & {
        display: block;
    }
    @include bp(breaknav) {
        display: block;
        float: right;
        min-height: 0;
        position: static;
        width: auto;
        .search-active & {
            width: 75.4%;
        }
    }
}

.nav-global {
    .icon-arrow {
        transition: transform $default-transition;
        transform: rotate(45deg) translateY(-50%);
        position: absolute;
        right: $horizontal-spacer--wide;
        top: 50%;
    }
    @include bp(breaknav) {
        .icon-arrow {
            display: none;
        }
    }
}

.nav-primary {
    @include bp(breaknav) {
        float: right;
        .search-active & {
            display: none;
        }
    }
}

.nav-primary__item {
    & + & {
        border-top: $default-border;
    }
    @include bp(breaknav) {
        float: left;
        & + & {
            border-top: 0;
        }
        &:hover,
        &:focus {
            > .nav-primary__link:after {
                border-bottom: 20px solid $color-grey--light;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                bottom: -4px;
                content: "";
                height: 0;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                width: 0;
                z-index: 20;
            }
        }
    }
}

.nav-primary__link {
    color: $color-text--primary;
    display: block;
    font-family: $font-breuer--medium;
    line-height: 1.63;
    padding: 12px 45px 12px $horizontal-spacer--wide;
    position: relative;
    transition: color $default-transition, background-color $default-transition;
    + .nav-container {
        display: none;
    }
    &.is-active,
    &.is-current {
        color: $color-blue--active;
        background-color: $color-grey--light;
        + .nav-container {
            display: block;
            background-color: $color-grey--light;
        }
    }
    @include bp(breaknav) {
        padding: 32px $horizontal-spacer;
        + .nav-container.nav-container { // override mobile specificity
            display: none;
        }
        &:hover,
        &:focus {
            color: $color-blue--active;
            &:after {
                border-bottom: 20px solid $color-grey--light;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                bottom: -4px;
                content: "";
                height: 0;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                width: 0;
                z-index: 10;
            }
            + .nav-container.nav-container { // override mobile specificity
                display: block;
            }
        }
        &.is-active,
        &.is-current {
            background: none;
        }
    }
}

.nav-primary__link {
    &.is-active,
    &.is-current {
        .icon-arrow {
            transform: rotate(-45deg) translateY(-50%);
        }
    }
}

.nav-container {
    transition: background-color $default-transition;
    @include bp(breaknav) {
        display: none;
        background-color: $color-grey--light;
        border-bottom: $default-border;
        border-top: $default-border;
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 10;
    }
}

@include bp(breaknav) {
    .nav-primary__item,
    .nav-primary__link {
        &:hover,
        &:focus {
            > .nav-container,
            + .nav-container {
                display: block;
            }

        }
    }
}

.nav-secondary {
    margin: 0 auto;
    max-width: $grid-max-width;
    @include bp(breaknav) {
        flex: 1;
        margin: 10px 0 30px;
        max-width: none;
    }
}

.nav-container--inner {
    @extend %g-row;
    @include bp(breaknav) {
        margin: 0 auto;
        max-width: $grid-max-width;
        padding: 0;
        .nav-secondary + .nav-secondary {
            border-left: $default-border;
        }
    }
}

.nav-secondary__item {
    border-top: $default-border;
    width: 100%;
    @include bp(breaknav) {
        border-top: 0;
        margin: 12px 0 12px;
        padding: 0 $horizontal-spacer--full;
        & ~ & {
            display: block !important;
        }
        &.is-heading {
            font-family: $font-breuer--medium;
            margin-bottom: -10px;
        }
    }
}

.is-heading ~ .nav-secondary__item {
    display: none;
    padding-left: 25px;
    @include bp(medium) {
        display: block !important;
        padding-left: $horizontal-spacer--full;
    }
}

.nav-secondary__link {
    color: $color-text--primary;
    display: block;
    padding: 10px 45px;
    line-height: 1.63;
    transition: color $default-transition;
    position: relative;
    &.is-active,
    &.is-current {
        color: $color-blue--active;
    }
    @include bp(breaknav) {
        font-family: $font-breuer--regular;
        font-size: 16px;
        padding: 2px 0;
        &:hover,
        &:focus {
            color: $color-blue--active;
        }
        .is-heading & {
            font-family: $font-breuer--medium;
        }
    }
}

.nav-secondary__link {
    .icon-arrow {
        transform: rotate(-45deg) translateY(-50%);
    }
    .is-heading & {
        .icon-arrow {
            transform: rotate(45deg) translateY(-50%);
        }
        &.is-active,
        &.is-current {
            .icon-arrow {
                transform: rotate(-45deg) translateY(-50%);
            }   
        }
    }
}
