.nav-toggle {
    background: none;
    border: 0;
    cursor: pointer;
    float: right;
    margin: 22px $horizontal-spacer--wide 22px 0;
    padding: 0;
    position: relative;
    z-index: 100;
    .icon-x {
        display: none;
    }
    .nav-active & {
        position: absolute;
        top: auto;
        right: 0;
    }
    &:focus {
        outline: 0;
    }
    @include bp(breaknav) {
        display: none;
    }
}