.callout-aside {
    @include clearfix;
    background-color: $color-grey--light;
    overflow: hidden;
    @include bp(medium) {
        // background-color: $color-white;
        overflow: visible;
    }
}

.callout-aside__container {
    @include clearfix;
    background-color: $color-white;
    margin: 20px $horizontal-spacer--wide;
    padding: 14px $horizontal-spacer--wide;
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .1);
    @include bp(medium) {
        font-size: 0;
        margin: -165px $horizontal-spacer--full 0;
        padding: 20px $horizontal-spacer--full;
    }
    @include bp(min, 1210px) {
        margin-left: auto;
        margin-right: -90px;
        max-width: 870px;
        padding-right: 90px;
    }
}

.callout-aside__content {
    background-color: $color-white;
    & + & {
        border-top: $default-border;
        margin-top: 10px;
        padding-top: 6px;
    }
    @include bp(medium) {
        display: inline-block;
        font-size: 16px;
        padding: 0 $horizontal-spacer--full 0 0;
        width: 50%;
        & + & {
            border-left: $default-border;
            border-top: 0;
            margin-top: 0;
            padding-top: 0;
            padding-left: $horizontal-spacer--full;
        }
    }
}

.callout-aside__title {
    @extend %text-heading--3;
    margin-bottom: 14px;
    @include bp(medium) {
        margin-bottom: 10px;
    }
}

.callout-aside__cta {
    @extend %text-heading--4;
    @extend %link;
    margin-top: 10px;
    @include bp(medium) {
        float: right;
        margin-right: 60px;
        margin-top: 15px;
    }
}

.callout-aside__subtitle {
    @extend %text-heading--4;
    @include bp(medium) {
        margin-bottom: 14px;
    }
}