.callout {
    @extend %pattern-overlay;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.callout__content {
    background-color: $color-white;
    padding: 10px $horizontal-spacer--wide 20px;
    position: relative;
    @include bp(medium) {
        background-color: transparent;
        margin: 0 auto;
        max-width: $grid-max-width;
        padding: 18px $horizontal-spacer--full 45px;
        .has-aside & {
            padding-bottom: 210px;
        }
    }
}

.callout__title {
    @extend %text-heading--1;
    margin-bottom: 2px;
    max-width: 570px;
    @include bp(medium) {
        color: $color-text--secondary;
        margin-bottom: 6px;
    }
}

.callout__availability {
    @extend %text-heading--4;
    text-transform: uppercase;
    white-space: nowrap;
}

.callout__image {
    display: block;
    height: auto !important;
    max-width: 100%;
    @include bp(medium) {
        display: none;
    }
}

.callout__detail {
    @extend %text-paragraph;
    @include bp(medium) {
        color: $color-text--secondary;
    }
}

.callout__cta {
    margin-top: 11px;
    @include bp(medium) {
        margin-top: 21px;
    }
}