.media-item {
    @include clearfix;
    background-color: $color-white;
    position: relative;
}

.media-item__media-wrapper {
    width: 100%;
    @include bp(medium) {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: absolute;
        width: 50%;
        .media-item--media-left &,
        .spotlight--media-left & {
            left: 0;
        }
        .media-item--media-right &,
        .spotlight--media-right & {
            right: 0;
        }
    }
}

.media-item__media-object {
    display: block;
    width: 100%;
    @include bp(medium) {
        display: none;
    }
}

.media-item__body {
    padding: $horizontal-spacer--wide;
    @include bp(medium) {
        padding: 30px $horizontal-spacer--full;
        width: 50%;
        float: left;
        .media-item--media-left & {
            float: right;
        }
        .media-item--media-right & {
            float: left;
        }
    }
}

.media-item__body--primary {
    background-color: $color-blue;
}

.media-item__title {
    @extend %text-hero--2;
    color: $color-text--secondary;
    margin-top: -12px;
    margin-bottom: 5px;
    .media-item__body--secondary & {
        color: $color-text--primary;
    }
    @include bp(medium) {
        margin-bottom: 10px;
    }
}

.media-item__copy {
    color: $color-text--secondary;
    margin-bottom: 30px;
    .media-item__body--secondary & {
        color: $color-text--primary;
        margin-bottom: 0;
    }
    @include bp(medium) {
        margin-bottom: 25px;
    }
}

.media-item__stat {
    color: $color-blue;
    font-size: 75px;
    font-weight: bold;
    line-height: 1;
    @include bp(medium) {
        font-size: 160px;
        font-size: 9.5vw;
        margin-top: -20px;
    }
}

.media-item__cta {
    margin-top: 10px;
    + .button--tertiary {
        margin-left: 10px;
    }
    @include bp(medium) {
        margin-top: 10px;
        margin-right: 6px;
        margin-bottom: 6px;
        & + & {
            margin-top: 0;
        }
    }
}