.hero {
    @extend %pattern-overlay;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.hero__container {
    @include clearfix;
    background-color: $color-white;
    padding: 10px $horizontal-spacer--wide;
    position: relative;
    @include bp(medium) {
        background-color: transparent;
        margin: 0 auto;
        max-width: $grid-max-width;
        padding: 230px $horizontal-spacer--full 40px;
    }
}

.hero--left {
    .hero__content-wrapper {
        @extend %pattern-overlay;
    }
    .hero__content-wrapper:before {
        display: none;
    }
    @include bp(medium) {
        min-height: 670px;
        height: 1px;
        &:before {
            display: none;
        }
        .hero__container {
            height: 100%;
            padding: 0;
        }
        .hero__content-wrapper {
            height: 100%;
            max-width: 615px;
            padding: 0;
            position: relative;
            &:before {
                display: block;
            }
        }
        .hero__content {
            bottom: 20px;
            left: $horizontal-spacer--full;
            position: absolute;
            right: $horizontal-spacer--full;
            top: auto;
        }
    }
}

.hero--right {
    .hero__content-wrapper {
        @extend %pattern-overlay;
    }
    .hero__content-wrapper:before {
        display: none;
    }
    @include bp(medium) {
        min-height: 670px;
        height: 1px;
        &:before {
            display: none;
        }
        .hero__container {
            height: 100%;
            padding: 0;
        }
        .hero__content-wrapper {
            height: 100%;
            left: 0;
            padding: 0;
            position: relative;
            right: 0;
            width: 100%;
            &:before {
                display: block;
            }
        }
        .hero__content {
            bottom: 20px;
            left: $horizontal-spacer--full;
            max-width: 485px;
            position: absolute;
            right: $horizontal-spacer--full;
            top: auto;
        }
    }
    @include bp(min, 930px) {
        .hero__content-wrapper {
            left: 49%;
        }
    }
}

.hero--has-aside {
    .hero__container {
        @include bp(medium) {
            padding-top: 160px;
            padding-bottom: 120px;
        }
    }
    &.hero--right,
    &.hero--left {
        @include bp(medium) {
            .hero__content {
                bottom: 120px;
            }
            .hero__container {
                padding: 0;
            }
        }
    }
}

.hero--small {
    @include bp(medium) {
        .hero__container {
            padding-top: 145px;
        }
    }
}

.has-no-image {
    border-bottom: $default-border;
    &:before,
    .hero__content-wrapper:before {
        display: none;
    }
    .hero__title {
        color: $color-text--primary;
    }
}

.hero__image {
    display: block;
    height: auto !important;
    max-width: 100%;
    @include bp(medium) {
        display: none;
    }
}

.hero__title {
    @extend %text-hero--1;
    margin-bottom: 2px;
    @include bp(medium) {
        color: $color-text--secondary;
        max-width: 430px;
    }
}

.hero__copy {
    @extend %text-body;
    margin-bottom: 13px;
    @include bp(medium) {
        color: $color-text--secondary;
        font-size: 20px;
        max-width: 430px;
    }   
}

.hero__cta {
    clear: left;
    float: left;
    margin-bottom: 10px;
    @include bp(medium) {
        clear: none;
        float: none;
        & + & {
            margin-left: 7px;
        }
    }
}