.pattern-overlay:before,
%pattern-overlay:before {
    background: rgba(0, 0, 0, .4);
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}