.hero-bio {
    @include clearfix;
    @include bp(medium) {
        padding: 50px 0;
    }
}

.hero-bio__container {
    @include clearfix;
    padding: 0 $horizontal-spacer--wide;
    @include bp(medium) {
        margin: 0 auto;
        max-width: $grid-max-width;
        padding: 0 $horizontal-spacer--full;
    }
}

.hero-bio__title {
    @extend %text-hero--2;
    margin: 13px 0 7px;
    @include bp(medium) {
        margin: 0 0 10px 0;
        padding-top: 58px;
    }
}

.hero-bio__copy {
    margin-bottom: 13px;
    @include bp(medium) {
        margin-bottom: 0;
    }
}

.hero-bio__image--mobile {
    display: block;
    height: auto !important;
    margin-bottom: 20px;
    max-width: 100%;
    @include bp(medium) {
        display: none;
    }
}

.hero-bio__image--desktop {
    display: none;
    @include bp(medium) {
        display: block;
        height: auto !important;
        float: right;
        margin: 0 0 0 $horizontal-spacer;
    }
}