.suggestions {
    @extend %pattern-overlay;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.suggestions__container {
    @include clearfix;
    padding: 15px $horizontal-spacer--wide 20px;
    position: relative;
    @include bp(medium) {
        margin: 0 auto;        
        max-width: $grid-max-width;
        padding: 65px $horizontal-spacer 50px;
    }
}

.suggestions__title {
    @extend %text-heading--2;
    color: $color-text--secondary;
    margin: 0 0 12px;
    @include bp(medium) {
        margin: 0 $horizontal-spacer 40px;
    }
}

.suggestions-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include bp(medium) {
        flex-wrap: nowrap;
    }
}

.suggestions-list__item {
    background-color: $color-white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    flex-basis: 100%;
    margin: 0 0 20px;
    padding: 10px $horizontal-spacer--wide;
    @include bp(medium) {
        margin: 0 $horizontal-spacer 30px;
        padding: 20px $horizontal-spacer--full;
        flex-basis: 31%;
    }
}

.suggestions-list__title {
    @extend %text-heading--4;
}

.suggestions-list__link {
    @extend %link;
    color: $color-text--primary;

}

.suggestions-list__meta {
    @extend %text-heading--4;
    color: $color-green;
    text-transform: uppercase;
    white-space: nowrap;
}

.suggestions-list__description {
    margin-top: 12px;
}