.pagination {
    font-size: 0;
    padding: 15px 0 30px;
    @include bp(medium) {
        padding: 35px 0 50px;
    }
}

.pagination__items {
    text-align: center;
}

.pagination__item {
    @extend %text-heading--4;
    color: $color-blue;
    display: inline-block;
    vertical-align: top;
    & + & {
        margin-left: 10px;
    }
}

.pagination__link {
    @extend %link;
    background-color: $color-grey--light;
    border: 1px solid $color-grey--light;
    color: inherit;
    display: block;
    height: 50px;
    line-height: 50px;
    width: 50px;
    &:focus {
        background-color: $color-white;
        border-color: $color-blue--active;
        color: $color-blue--active;
        .icon-arrow__shape {
            stroke: $color-blue--active;
        }
    }
    .no-touch & {
        &:hover {
            background-color: $color-white;
            border-color: $color-blue--active;
            color: $color-blue--active;
            .icon-arrow__shape {
                stroke: $color-blue--active;
            }
        }
    }
}

.pagination__item--ellipsis {
    vertical-align: bottom;
}

.pagination__item--prev,
.pagination__item--next {
    .pagination__link {
        background: none;
        border-color: $color-white;;
        &:hover {
            border-color: $color-blue--active;
        }
    }
    .icon-arrow__shape {
        transition: all $default-transition;
        stroke: $color-blue;
    }
}

.pagination__item--prev {
    .icon-arrow {
        transform: rotate(135deg) translate(-3px, 2px);
    }

}

.pagination__item--next {
    .icon-arrow {
        transform: rotate(-45deg) translate(1px, -4px);
    }
}

.pagination__item--current {
    color: $color-blue--active;
    .pagination__link {
        background-color: $color-white;
        &:visited {
            color: $color-blue--active;
        }
        .no-touch & {
            &:hover {
                color: $color-blue--active;
            }
        }
    }
}