.filter {
    background-color: $color-white;
    @include bp(medium) {
        &.stuck {
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 10;
        }
        &.not-stuck {
            position: static;
        }
    }
}

.filter__form {
    border-bottom: $default-border;
}

.filter__container {
    margin: 0 auto;
    max-width: $grid-max-width;
    padding: 0;
    @include bp(medium) {
        padding: 0 $horizontal-spacer--full;
    }
}

.filter__legend {
    @extend %text-supporting;
    padding: 14px $horizontal-spacer--wide 0;
    @include bp(medium) {
        float: left;
        padding: 14px $horizontal-spacer--wide 14px 0;
    }
}

.filter__select-wrapper {
    position: relative;
    display: block;
    @include bp(medium) {
        display: inline;
    }
}

.filter__select {
    border-bottom: $default-border;
    padding: 12px 20px;
    width: 100%;
    .customSelectInner {
        width: auto !important;
        &:after {
            background: url(../img/ui/arrow-down.png) no-repeat center;
            content: ' ';
            display: inline-block;
            height: 9px;
            margin-left: 10px;
            width: 13px;
        }
    }
    @include bp(medium) {
        border-bottom: 0;
        border-left: $default-border;
        left: auto;
        width: auto;
    }
}

.filter__search-container {
    display: inline;
    position: relative;
}

.filter__search {
    @extend %text-body;
    border: 0;
    margin: 0;
    padding: 12px $horizontal-spacer--full 12px $horizontal-spacer--wide;
    transition: background-color $default-transition;
    width: 100%;
    &:focus {
        background-color: $color-grey--light;
        outline: 0;
    }
    &.has-error {
        background-color: $color-error;
    }
    @include bp(medium) {
        border-left: $default-border;   
        width: auto;
    }
}

.filter__search::-webkit-input-placeholder {
    color: $color-text--primary;
    font-family: $font-breuer--regular;
    font-size: 16px;
}

.filter__search:-moz-placeholder {
    color: $color-text--primary;
    font-family: $font-breuer--regular;
    font-size: 16px;  
}

.filter__search::-moz-placeholder {
    color: $color-text--primary;
    font-family: $font-breuer--regular;
    font-size: 16px;  
}

.filter__search:-ms-input-placeholder {  
    color: $color-text--primary;
    font-family: $font-breuer--regular;
    font-size: 16px;  
}

.filter__search::-webkit-search-cancel-button {
    display: none;
}

.filter__submit .icon-search__shape {
    transition: all $default-transition;
}

.filter__submit {
    background: none;
    border: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    &:focus {
        outline: 0;
        .icon-search__shape {
            stroke: $color-blue--active;
        }
        .icon-x__shape {
            fill: $color-blue--active;
        }
    }
    .no-touch & {
        &:hover {
            .icon-search__shape {
                stroke: $color-blue--active;
            }
            .icon-x__shape {
                fill: $color-blue--active;
            }
        }
    }
}

.filter__reset {
    display: none;
}

.filter__reset-button {
    @extend %text-body;
    background: $color-grey--keyline;
    border: 0;
    border-bottom: $default-border;
    display: block;
    font-family: $font-breuer--medium;
    padding: 10px $horizontal-spacer--full;
    width: 100%;
    &:focus {
        background-color: $color-white;
        outline: none;
    }
    .no-touch & {
        &:hover {
            background-color: $color-white;       
        }
    }
}