.accordion {
    border-bottom: $default-border;
    margin: 0 $horizontal-spacer--wide;
    @include bp(medium) {
        margin: 0 $horizontal-spacer--full;
    }
}

.accordion__title {
    @extend %text-heading--3;
    @extend %link;
    color: $color-text--primary;
    cursor: pointer;
    padding: 14px 0;
    & ~ & {
        border-top: $default-border;
    }
    @include bp(medium) {
        padding: 24px 0;
    }
}

.accordion__content {
    display: none;
    padding: 0 0 20px;
    .no-js & {
        display: block;
    }
}