.book-promo {
    @extend %pattern-overlay;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px $horizontal-spacer--wide;
    position: relative;
    @include bp(medium) {
        padding: 80px $horizontal-spacer--full;
    }
}


.book-promo__content {
    @include clearfix;
    background-color: $color-white;
    margin: 0 auto;
    max-width: $grid-max-width;
    padding: 10px $horizontal-spacer--wide 20px;
    position: relative;
    @include bp(medium) {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        padding: 16px $horizontal-spacer--full 30px;
    }
}

.book-promo__text {
    @include bp(medium) {
        flex-basis: 90%;
        padding-right: $horizontal-spacer--full;
    }
}

.book-promo__title {
    @extend %text-heading--1;
    @include bp(medium) {
        margin-bottom: 8px;
    }
}

.book-promo__copy {
    @extend %text-paragraph;
    margin-bottom: 15px;
    @include bp(medium) {
        margin-bottom: 0;
    }
}

.book-promo__cta {
    @include bp(medium) {
        align-self: flex-end;
        flex-shrink: 0;
    }
}