.g-container {
    body > & {
        background-color: $color-grey--light;
        @include bp(medium) {
            // padding-top: 80px;
        }
    }
}

.g-row,
%g-row {
    @include bp(medium) {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: $grid-max-width;
    }
}

.g-row {
    padding: 0 $horizontal-spacer--wide;
    @include bp(medium) {
        justify-content: space-between;
        padding: 0 $horizontal-spacer;
    }
}

.g-row--no-gutter {
    @extend %g-row;
}

.g-col,
%g-col {
    clear: both;
    overflow: hidden;
    width: 100%;
    .g-row--no-gutter & {
        margin: 0;
    }
    @include bp(medium) {
        clear: none;
        margin: 0 $horizontal-spacer;
        overflow: visible;
        width: auto;
    }
}

.g-col {
    @include bp(medium) {
        flex: 1;
        margin: 0 $horizontal-spacer;
    }
}

@for $i from 1 through 7 {
    .g-col--#{$i} {
        @extend %g-col;
        @include bp(medium) {
            flex: 0 0 12.5% * $i;   
        }
    }
}