.map,
.media-item,
.spotlight {
    margin-bottom: 20px;
}

.spotlight-group .spotlight {
    margin-bottom: 0;
}

.spotlight {
    @include bp(medium) {
        margin-bottom: 0;
    }
}

.callout-aside,
.spotlight-group,
.cpd,
.media-item,
.accordion,
.gallery,
.related-links,
.resources,
.map,
.rte {
    @include bp(medium) {
        margin-bottom: 80px;
    }
}

.accordion .rte,
.gallery .rte {
    @include bp(medium) {
        margin-bottom: 0;
    }
}

.sidebar {
    .related-links,
    .resources,
    .rte,
    .advert {
        margin-bottom: 20px;
        @include bp(medium) {
            margin-bottom: 50px;
        }
    }
}