$color-white: #fff;
$color-blue: #008ed6;
$color-green: #78be20;
$color-purple: #5c068c;
$color-red: #ffcaca;

$color-blue--active: #003da5;

$color-grey--dark: #333;
$color-grey--mid: #949494;
$color-grey--light: #f4f4f4;
$color-grey--keyline: #e0e0e0;

$color-text--primary: $color-grey--dark;
$color-text--secondary: $color-white;

$color-error: $color-red;