.link,
%link {
    color: $color-blue;
    transition: all $default-transition;
    &:focus {
        color: $color-blue--active;
    }
    &:visited {
        color: $color-purple;
    }
    .no-touch & {
        &:hover {
            color: $color-blue--active;
        }
    }
}