.text-hero--1,
%text-hero--1 {
    font-family: $font-breuer--medium;
    font-size: 48px;
    line-height: 1.06;
    transition: all $default-transition;
    @include bp(medium) {
        font-size: 80px;
        line-height: 1.03;
    }
}

.text-hero--2,
%text-hero--2 {
    font-family: $font-breuer--medium;
    font-size: 40px;
    line-height: 1.07;
    transition: all $default-transition;
    @include bp(medium) {
        font-size: 64px;
        line-height: 1.04;
    }
}

.text-heading--1,
%text-heading--1 {
    font-family: $font-breuer--medium;
    font-size: 34px;
    line-height: 1.17;
    transition: all $default-transition;
    @include bp(medium) {
        font-size: 48px;
        line-height: 1.16;
    }
}

.text-heading--2,
%text-heading--2 {
    font-family: $font-breuer--medium;
    font-size: 28px;
    line-height: 1.21;
    transition: all $default-transition;
    @include bp(medium) {
        font-size: 36px;
        line-height: 1.22;
    }
}

.text-heading--3,
%text-heading--3 {
    font-family: $font-breuer--medium;
    font-size: 24px;
    line-height: 1.25;
    transition: all $default-transition;
    @include bp(medium) {
        font-size: 28px;
        line-height: 1.28;
    }
}

.text-heading--4,
%text-heading--4 {
    font-family: $font-breuer--medium;
    font-size: 20px;
    line-height: 1.6;
    transition: all $default-transition;
}

.text-paragraph,
%text-paragraph {
    font-family: $font-breuer--regular;
    font-size: 20px;
    line-height: 1.6;
    transition: all $default-transition;
}

.text-body,
%text-body {
    font-family: $font-breuer--regular;
    font-size: 16px;
    line-height: 1.62;
    transition: all $default-transition;
}

.text-supporting,
%text-supporting {
    font-family: $font-breuer--regular;
    font-size: 14px;
    line-height: 1.57;
    transition: all $default-transition;
}

.text-detail,
%text-detail {
    font-family: $font-breuer--regular;
    font-size: 12px;
    line-height: 1.66;
    transition: all $default-transition;
}